<p style="font-size: 1.1rem" class="mt-3">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <b>B</b>y 2020, the coverage of the national response to HIV
  and AIDS will have improved to ensure that 90% of all
  people living with HIV know their HIV status, and 100%
  of pregnant women eligible for PMTCT will receive treatment in 2020.
</p>
<p style="font-size: 1.1rem">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>T</b>he HIV care and treatment programme will improve coverage
  in at-risk children and adolescents so that overall, 90% of all
  people diagnosed with HIV are followed and receive timely and
  efficacious highly active antiretroviral therapy, and 90%
</p>
