<!DOCTYPE html>
<html ng-app="hmisPortal" ng-controller="mainCtrl" xmlns="http://www.w3.org/1999/html">
<head>
    <title>LOADING</title>

    <link type="text/css" rel="stylesheet" href="assets/libs/materialize/css/materialize.min.css"  media="screen,projection"/>
    <style>
        h4{
            font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
        }
        h6{
            font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
            font-size: 16px;
        }
        body{
            background-color:white;
        }
    </style>
    <script>
        var render = {
            requests:0,
            addRequest : function(){
                this.requests++;
            },
            finishRequest : function(){
                this.requests++;
                if(this.requests == 13 && document.title.toLowerCase().indexOf("error") == -1){
                    document.title = 'SUCCESS';
                }
            },
            error:function(){
                document.title = 'ERROR';
            }
        }
        window.onerror = function() {
            render.error();
        };
    </script>
    <!--import pace for visualization-->
    <script src='assets/libs/pace/pace.min.js'></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="assets/libs/materialize/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="assets/libs/jqueryui/js/jquery-ui-1.10.4.custom.js"></script>
    <script type="text/javascript" src="assets/libs/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/angular-route.js"></script>
    <script type="text/javascript" src="assets/js/angular-resource.js"></script>
    <script type="text/javascript" src="Highcharts/js/highcharts.src.js"></script>
    <script type="text/javascript" src="bower_components/highcharts-ng/src/highcharts-ng.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
    <script type="text/javascript" src="assets/js/ng-csv.js"></script>
    <script type="text/javascript" src="bower_components/angular-materialize/src/angular-materialize.js"></script>
    <script src="services/dhis-highchart-angular-service.js"></script>
    <!--<script src="https://maps.google.com/maps/api/js?sensor=false"></script>-->
    <script src="bower_components/openlayers3/build/ol.js"></script>
    <script src="bower_components/angular-openlayers-directive/dist/angular-openlayers-directive.js"></script>
    <script src="bower_components/tree/angular-multi-select-tree-0.1.0.min.js"></script>
    <script src="bower_components/tree/angular-multi-select-tree-0.1.0.tpl.js"></script>

    <script>
        var mainModule = angular.module('hmisPortal', ["ngRoute",'ngResource','ngAnimate',"datatables",'ngSanitize','highcharts-ng','openlayers-directive','ui.materialize','dhisHighchartAngularService','multi-select-tree','ngCsv']);
        (function(){
            var httpInterceptor = function ($provide, $httpProvider) {
                $provide.factory('httpInterceptor', function ($q) {
                    return {
                        response: function (response) {
                            return response || $q.when(response);
                        },
                        responseError: function (rejection) {
                            render.error();
                            return $q.reject(rejection);
                        }
                    };
                });
                $httpProvider.interceptors.push('httpInterceptor');
            };
            angular.module("hmisPortal").config(httpInterceptor);
            Highcharts.setOptions({
                plotOptions: {
                    series: {
                        animation: false
                    }
                }
            });
        }());
    </script>
    <script src="assets/js/routes.js"></script>
    <script src="services/mapService.js"></script>
    <script src="services/portalService.js"></script>
    <script src="services/familyPlanningService.js"></script>
    <script src="controllers/mainCtrl.js"></script>
    <script src="controllers/indicatorsCtrl.js"></script>
    <script src="controllers/dataCtrl.js"></script>
    <script src="controllers/dashboardCtrl.js"></script>
    <script src="controllers/jinsiCtrl.js"></script>
    <script src="controllers/morbidityCtrl.js"></script>
    <script src="controllers/family_Planning/RegionalPDFController/clientDemographicsCtrl.js"></script>
    <script src="controllers/family_Planning/RegionalPDFController/clientMethodsCtrl.js"></script>
    <script src="controllers/family_Planning/RegionalPDFController/survilienceCtrl.js"></script>
    <script src="controllers/family_Planning/parcentageCtrl.js"></script>
    <script src="controllers/family_Planning/parcentage1Ctrl.js"></script>
    <script src="controllers/family_Planning/RegionalPDFController/stockoutCtrl.js"></script>
    <script src="controllers/family_Planning/RegionalPDFController/HWParcentageCtrl.js"></script>
    <script src="controllers/family_Planning/RegionalPDFController/parcentageCtrl.js"></script>
    <script src="controllers/family_Planning/HWTrainedCtrl.js"></script>

</head>
<body>
<!--headers-->
<div style="width: 1080px;margin: 20px">
    <table>
        <tr>
            <td style="width: 80%"><h4  ng-controller="clientMethodsCtrl">Tanzania Family Planning Dashboard Report <br> {{ regionaName }} Report for {{ periodName }}</h4></td>
            <td><img style="width: 180px;height: 160px" src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Coat_of_arms_of_Tanzania.svg/100px-Coat_of_arms_of_Tanzania.svg.png'/></td>
        </tr>
    </table>
    <hr>
    <!--CLients-->
    <fieldset>
        <legend style="font-size: 1.37em;;font-weight: bold">Clients:</legend>
        <table>
            <tr>
                <td style="width: 70%;" ng-controller="clientMethodsCtrl">
                    <div style="border:groove 1px #000000">
                        <div id="container12" style="min-width: 350px; height: 450px; margin: 0 auto"></div>
                    </div>
                </td>
                <td style="width: 30%; vertical-align: top">
                    <h6 class="text-info" style="height: 452px;margin: 0px; padding: 8px; color:#6498D9;border: 1px solid deepskyblue; line-height: 30px">
                        <b>ACTION:</b>  Monitor FP clients  trends over time;  investigate any unexplained sharp decreases.<br><br>
                        Note: for more information  on other FP methods not displayed here, (permanent methods and male and female condoms)
                        refer to the FP Dashboard.

                    </h6>
                </td>
            </tr>
        </table>
    </fieldset>
    <!--Coverage-->
    <fieldset>
        <legend style="font-size: 1.37em;;font-weight: bold">Coverage:</legend>
        <table>
            <tr>
                <td style="width: 520px;height: 400px" ng-controller="HWParcentageCtrl">
                    <div style=" border:groove 1px #000000;">
                        <div id="HWParcentage" style="min-width: 100%; height: 390px; margin: 0 auto; "></div>
                    </div>
                </td>
                <td style="width: 520px;height: 400px" ng-controller="parcentageCtrl">
                    <div style="border:groove 1px #000000;">
                        <div id="facilityParcent" style="min-width: 100%; height: 390px; margin: 0 auto;"></div>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width: 520px;; margin-top: 5px; " >
                    <h6 style=" padding: 8px; border: solid 1px #6498D9; color:#6498D9;">
                        <b>ACTION:</b> Identify FP methods and facility types with largest gap in
                        trained providers. If possible, resources for FP trainings should be
                        directed to the districts listed in the table below, for each FP method.
                    </h6>
                </td>
                <td style=" width: 520px;; margin-top: 5px;" >
                    <h6 style=" padding: 8px; border: solid 1px #6498D9; color:#6498D9;">
                        <b>ACTION:</b> These trend lines should be increasing with time. Use the
                        FP dashboard to investigate any unexplained decreases in
                        percentage of facilities providing each FP method
                    </h6>
                </td>
            </tr>
        </table>

        <table style="margin: 10px; width: 1040px;height: 350px;" ng-controller="HWParcentageCtrl">
            <tr style="background-color: #4F81BD; color: white; border: solid 1px #6498D9 ">
                <th colspan="4" style="font-size: 18px;">Districts with Lowest Percentage of Facilities with 2 or More Health Workers Trained in FP Methods</th></tr>
            <tr style="border: solid 1px #6498D9" ng-repeat="orgs in orgunitsWithLowTraining" >
                <td><b>{{ orgs.name }}</b></td>
                <td>{{ orgs.region1 }}</td>
                <td>{{ orgs.region2 }}</td>
                <td>{{ orgs.region3 }}</td>
            </tr>

            </tr>
        </table>
    </fieldset>


    <!--Stock Outs-->
    <br /><br /><br /><br /><br /><br /><br />
    <fieldset>
        <legend style="font-size: 1.37em;;font-weight: bold">Stock Outs:</legend>
        <table  ng-controller="stockoutCtrl">
            <tr>
                <td style="width: 50%;height: 400px">
                    <div  style="border:groove 1px #000000;">
                        <div id="stockoutchart" style="min-width: 100%; height: 390px; margin: 0 auto;"></div>
                    </div>
                </td>
                <td style="vertical-align: top;width: 50%">
                    <style>
                        .tableBold tr:nth-child(2) td{
                            font-weight: bold;
                        }
                    </style>
                    <table class="tableBold" border="1px" style="height: 392px;">
                        <tr style="background-color: #4F81BD; color: white; border: solid 1px #6498D9 ">
                            <th colspan="2"> Districts with Highest Percentage of Facilities Experiencing Stock Out of Pills or Injectables </th></tr>
                        <tr style="border: solid 1px #6498D9" ng-repeat="dis in stockOutData">
                            <td>{{ dis.oral }}</td>
                            <td>{{ dis.injectable }}</td>
                        </tr>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width: 50%">
                    <h6 style="height: 70px;padding: 8px; border: solid 1px #6498D9; color:#6498D9;">
                        <b>ACTION:</b> This trend should be decreasing. Monitor the trend and
                        use the FP Dashboard to investigate any unexplained increases.
                    </h6>
                </td>
                <td style="width: 50%">
                    <h6 style="height: 70px; padding: 8px; border: solid 1px #6498D9; color:#6498D9;">
                        <b>ACTION:</b>Investigate districts with high stock out rates. Check distribution and stock provision.
                    </h6>
                </td>
            </tr>
        </table>

    </fieldset>
    <!--survilience-->
    <fieldset  ng-controller="survilienceCtrl">
        <legend style="font-size: 1.37em;;font-weight: bold">Service Integration:</legend>
        <table>
            <tr>
                <td style="width: 520px;height: 400px">
                    <div style="border:groove 1px #000000;">
                        <div id="survilience1" style="min-width: 100%; height: 390px; margin: 0 auto;"></div>
                    </div>
                </td>
                <td style="width: 520px;height: 400px">
                    <div style="border:groove 1px #000000;">
                        <div id="survilience3" style="min-width: 100%; height: 390px; margin: 0 auto;"></div>
                    </div>
                </td>

            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 100%; padding-left: 0px; padding-right: 0px">
                    <h6 style=" padding: 8px; border: solid 1px #6498D9; color:#6498D9;">
                        <b>ACTION:</b> Investigate districts with lowest percentages for each indicator. Monitor national trend and use the FP dashboard to investigate any
                        unexplained decreases.
                        <br />The graph on the right displays percent of FP clients who are not already known HIV-positive adopting HIV testing and counselling (HTC)
                    </h6>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 520px;height: 400px">
                    <div style="border:groove 1px #000000;">
                        <div id="survilience2" style="min-width: 100%; height: 390px; margin: 0 auto;"></div>

                    </div>
                </td>
                <td style="width: 520px;">
                    <div style="border:groove 1px #000000; height: 390px">
                        <h5 style="text-align: center">Reporting Rates</h5>
                        <table border="1px">
                            <tr style="background-color: #4F81BD; color: white; border: solid 1px #6498D9 ">
                                <th >Lowest Reporting Rate</th>
                                <th >Highest Reporting Rate</th>
                            </tr>
                            <tr style="border: solid 1px #6498D9" ng-repeat="org in OrgunitInReportingRate">
                                <td>{{ org.high }}</td>
                                <td>{{ org.low }}</td>
                            </tr>
                        </table>
                    </div>

                </td>

            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 49%; margin-top: 5px; " >
                    <h6 style="height: 105px; padding: 8px; border: solid 1px #6498D9; color:#6498D9;">
                        <b>ACTION:</b> Monitor national trend and investigate any unexplained
                        decreases. Note that this line might fluctuate according to number of
                        live births per month, but should be generally increasing.
                    </h6>
                </td>
                <td style=" width: 49%; margin-top: 5px;" >
                    <h6 style="height: 105px;padding: 8px; border: solid 1px #6498D9; color:#6498D9;">
                        This month the {{ name }} reporting rate was <b>{{ thisMonthCompletenes }}%</b>  of
                        facilities, as compared to <b>{{ lastMonthCompletenes }}%</b> last month.<br>
                        <b>ACTION:</b> Alert district coordinators; provide positive
                        feedback to best performing districts and support to low
                        performing districts.
                    </h6>
                </td>
            </tr>
        </table>
    </fieldset>
</div>


</body>
</html>
