<button class="btn btn-outline-secondary" (click)="showSorting = !showSorting">
  {{ showSorting? 'Show Simple Sorting' : 'Hide Simple Sorting' }}
</button>
<div *ngIf="showSorting" @fadeInOut>
  <app-sorting
    *ngIf="indicator_group$ | async"
    [indicators]="indicators$ | async"
    [indicator_group]="indicator_group$ | async"
  >
  </app-sorting>
</div>
<div class="container-fluid">
  <ul *ngIf="visualizations$ | async">
    <li *ngFor="let visualization of visualizations$ | async">
      {{ visualization.name }}
    </li>
  </ul>
</div>
