<h5>Tests and Positive cases in April-June 2018</h5>
<table class="table table-striped table-bordered">
  <tbody>
  <tr>
    <td><br></td>
    <td><br></td>
    <td>&lt;20</td>
    <td><br></td>
    <td>&gt;=20</td>
    <td><br></td>
    <td>&lt; 1</td>
    <td><br></td>
    <td>1 - 4</td>
    <td><br></td>
    <td>5 - 9</td>
    <td><br></td>
    <td>10 - 14</td>
    <td><br></td>
    <td>15 - 19</td>
    <td><br></td>
    <td>20 - 24</td>
    <td><br></td>
    <td>25 - 49</td>
    <td><br></td>
    <td>50+</td>
    <td><br></td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td>FE</td>
    <td>ME</td>
    <td>FE</td>
    <td>ME</td>
    <td>FE</td>
    <td>ME</td>
    <td>FE</td>
    <td>ME</td>
    <td>FE</td>
    <td>ME</td>
    <td>FE</td>
    <td>ME</td>
    <td>FE</td>
    <td>ME</td>
    <td>FE</td>
    <td>ME</td>
    <td>FE</td>
    <td>ME</td>
    <td>FE</td>
    <td>ME</td>
  </tr>
  <tr>
    <td>HTC</td>
    <td>Tested</td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td>16 822</td>
    <td>252</td>
    <td>133 912</td>
    <td>129 845</td>
    <td>77 274</td>
    <td>71 512</td>
    <td>87 369</td>
    <td>144 416</td>
    <td>187 705</td>
    <td>13 8625</td>
    <td>279 733</td>
    <td>192 137</td>
    <td>583 279</td>
    <td>433 062</td>
    <td>114 126</td>
    <td>100 409</td>
  </tr>
  <tr>
    <td><br></td>
    <td>+Ve</td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td>175</td>
    <td>148</td>
    <td>700</td>
    <td>646</td>
    <td>573</td>
    <td>582</td>
    <td>705</td>
    <td>560</td>
    <td>2 200</td>
    <td>776</td>
    <td>6 775</td>
    <td>2 211</td>
    <td>27 706</td>
    <td>18 348</td>
    <td>5 018</td>
    <td>4 443</td>
  </tr>
  <tr>
    <td>ANC</td>
    <td>Tested</td>
    <td>100 230</td>
    <td class="greyfield"><br></td>
    <td>437 429</td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
  </tr>
  <tr>
    <td><br></td>
    <td>+Ve</td>
    <td>912</td>
    <td class="greyfield"><br></td>
    <td>9 069</td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
  </tr>
  <tr>
    <td>PNC</td>
    <td>Tested</td>
    <td>5 867</td>
    <td class="greyfield"><br></td>
    <td>25 717</td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
  </tr>
  <tr>
    <td><br></td>
    <td>+Ve</td>
    <td>36</td>
    <td class="greyfield"><br></td>
    <td>253</td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
  </tr>
  <tr>
    <td>L&amp;D</td>
    <td>Tested</td>
    <td>46</td>
    <td class="greyfield"><br></td>
    <td>43 645</td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
  </tr>
  <tr>
    <td><br></td>
    <td>+Ve</td>
    <td>9 843</td>
    <td class="greyfield"><br></td>
    <td>447</td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
    <td class="greyfield"><br></td>
  </tr>
  </tbody>
</table>
