<div class="pt-5">
  <h2 class="mb-1" [ngClass]="routeAnimationsElements">Statistics Summary</h2>

  <mat-tab-group>
    <mat-tab label="RCHs" >
      <app-rch></app-rch>
    </mat-tab>
    <mat-tab label="HMIS">
      <app-hmis></app-hmis>
    </mat-tab>
    <mat-tab label="NACP">
      <app-nacp></app-nacp>
    </mat-tab>
    <mat-tab label="PMTCT">
      <app-pmtct></app-pmtct>
    </mat-tab>
    <mat-tab label="NUTRITION">
      <app-nutrition></app-nutrition>
    </mat-tab>
  </mat-tab-group>
</div>
