.links p a:hover {
  transform: scale(1.1);
  font-weight: 600;
  text-decoration: underline;
}

.links p a {
  color: #1d2d3fe6;
}

h2 {
  // color: rgba(87, 143, 205, 0.9);
  color: #2a8fd1;
  font-weight: 600;
}
