<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="text-secondary">Period</label>
        <select [(ngModel)]="selected_pe"  class="form-control form-control-sm filter-selector" (change)="updatePeriod(selected_pe)">
          <option *ngFor="let year of years$ | async" value="{{year.id}}" >{{year.name}} </option>
          <option *ngFor="let quarter of quarters$ | async" value="{{quarter.id}}" >{{quarter.name}} </option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="text-secondary">Organization Unit</label>
        <select  [(ngModel)]="selected_ou" class="form-control form-control-sm filter-selector" (change)="updateOrgunit(selected_ou)">
          <option *ngFor="let orgUnit of organisationUnits$ | async" value="{{orgUnit.id}}">{{orgUnit.name}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div  *ngFor="let indicator of indicators" [ngClass]="indicator.cardClass" class="col-sm-12 mb-3">
      <div class="card"  (mouseenter)="setOptions(true,indicator)" (mouseleave)="setOptions(false,indicator)">
        <div class="card-body">

          <div class="lead" *ngIf="indicator.loading">
            <h3 class="lead text-center">{{indicator.title}}</h3>
            <app-placeholder [loadingMessage]="'Getting '+ selected_pe+ ' '+ selected_ou_name + ' ' + indicator.title + ' data ...'"></app-placeholder>
          </div>
          <div *ngIf="!indicator.loading && indicator.visualizerType == 'chart' && !indicator.hasError" [ng2-highcharts]="indicator.chartObject"></div>
          <div *ngIf="!indicator.loading && indicator.visualizerType == 'table' && !indicator.hasError">
            <app-table-template [tableObject]="indicator.tableObject"></app-table-template>
          </div>


          <div class="options-block" *ngIf="indicator.showOptions && indicator.visualizerType == 'chart' && !indicator.hasError">
            <ul class="nav nav-stacked">
              <li *ngFor="let chartType of chartTypes">
                <a
                  (click)="updateChartType(chartType.type, indicator)"
                  title="{{chartType.description}}"
                  [ngClass]="'bar' == chartType.type ? 'active-type' : ''"
                >
                  <img [src]="chartType.icon" class="chart-option-icon" alt="">
                </a>
              </li>
            </ul>
          </div>

          <!--error handling-->
          <div class="lead text-warning" *ngIf="indicator.hasError">
            <i class="fa fa-warning"></i> Sorry, something went wrong while fetching data! make sure you have internet connection and  try to reload the page
          </div>
        </div>

        <div class="card-footer text-muted">
          <button class="btn btn-outline-success btn-sm" (click)="updateType('table', indicator)">
            <i class="fa fa-table"></i> Table
          </button>
          <button class="btn btn-outline-success btn-sm" (click)="updateType('chart', indicator)">
            <i class="fa fa-bar-chart"></i> Chart
          </button>
          <a class="btn btn-outline-success btn-sm"  href="{{indicator.csv}}">
            <i class="fa fa-file-excel-o"></i> Excel
          </a>
          <footer class="blockquote-footer">
            <small style="font-size: 8px">This data is not for Publication it is used for administrative purpose only, to get data for publication contact  <cite title="Source Title">Permanent secretary ministry of health</cite></small>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
