<div class="container-fluid" style="margin-top: 5px">

  <div class="row">
    <div class="col-sm-4 mb-3">
      <ul class="list-group">
        <li class="list-group-item cursor" [ngClass]="{'active':linkValue =='RMNCAH'}" (click)="activateLink($event,'RMNCAH')">
          RMNCAH
          <i class="fa fa-chevron-right pull-right"></i>
        </li>
        <li class="list-group-item cursor" [ngClass]="{'active':linkValue =='BASKET'}" (click)="activateLink($event,'BASKET')">
          BASKET FUND INDICATORS
          <i class="fa fa-chevron-right pull-right"></i>
        </li>
        <li class="list-group-item cursor" [ngClass]="{'active':linkValue =='COMPLETENESS'}" (click)="activateLink($event,'COMPLETENESS')">
          HMIS COMPLETENESS
          <i class="fa fa-chevron-right pull-right"></i>
        </li>
        <li class="list-group-item cursor" [ngClass]="{'active':linkValue =='PMTCT'}" (click)="activateLink($event,'PMTCT')">
          PMTCT
          <i class="fa fa-chevron-right pull-right"></i>
        </li>
        <li class="list-group-item cursor" [ngClass]="{'active':linkValue =='MEDICINE'}" (click)="activateLink($event,'MEDICINE')">
          TRACER MEDICINE
          <i class="fa fa-chevron-right pull-right"></i>
        </li>
        <li class="list-group-item cursor" [ngClass]="{'active':linkValue =='RATING'}" (click)="activateLink($event,'RATING')">
          STAR RATING
          <i class="fa fa-chevron-right pull-right"></i>
        </li>
      </ul>
    </div>

    <div class="col-sm-8 mb-3">
      <p class="lead text-center">{{heading}}</p>
      <div class="container-fluid" *ngIf="linkValue =='RMNCAH'">
        <nav class="nav nav-tabs" id="myTab" role="tablist">
          <a class="nav-item nav-link" id="rmnach2015-tab" data-toggle="tab" href="#rmnach2015" role="tab" aria-controls="rmnach2015" aria-expanded="true">2015</a>
          <a class="nav-item nav-link active" id="rmnach2016-tab" data-toggle="tab" href="#rmnach2016" role="tab" aria-controls="rmnach2016" aria-expanded="true">2016</a>
          <a class="nav-item nav-link" id="rmnach2017-tab" data-toggle="tab" href="#rmnach2017" role="tab" aria-controls="rmnach2017">2017</a>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" id="rmnach2015" role="tabpanel" aria-labelledby="rmnach2015-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9ZFVLalB4bU9TS00&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade show active" id="rmnach2016" role="tabpanel" aria-labelledby="rmnach2016-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9azgxVGdkVndIdDQ&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade" id="rmnach2017" role="tabpanel" aria-labelledby="rmnach2017-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9eldMZ3hiQmZGbDg&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
        </div>
      </div>
      <div class="container-fluid" *ngIf="linkValue =='BASKET'">
        <nav class="nav nav-tabs" id="myTab1" role="tablist">
          <a class="nav-item nav-link" id="basket2015-tab" data-toggle="tab" href="#basket2015" role="tab" aria-controls="basket2015" aria-expanded="true">2015</a>
          <a class="nav-item nav-link active" id="basket2016-tab" data-toggle="tab" href="#basket2016" role="tab" aria-controls="basket2016" aria-expanded="true">2016</a>
          <a class="nav-item nav-link" id="basket2017-tab" data-toggle="tab" href="#basket2017" role="tab" aria-controls="basket2017">2017</a>
        </nav>
        <div class="tab-content" id="nav-tabContent1">
          <div class="tab-pane fade" id="basket2015" role="tabpanel" aria-labelledby="basket2015-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9dEYzSUhWWTJ5S0k&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade show active" id="basket2016" role="tabpanel" aria-labelledby="basket2016-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9MnF3ZF9MaWdIWVk&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade" id="basket2017" role="tabpanel" aria-labelledby="basket2017-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9MlQ2TWR1dzE0T3c&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
        </div>
      </div>
      <div class="container-fluid" *ngIf="linkValue =='COMPLETENESS'">
        <nav class="nav nav-tabs" id="myTab2" role="tablist">
          <a class="nav-item nav-link" id="hmiscompleteness2015-tab" data-toggle="tab" href="#hmiscompleteness2015" role="tab" aria-controls="hmiscompleteness2015" aria-expanded="true">2015</a>
          <a class="nav-item nav-link active" id="hmiscompleteness2016-tab" data-toggle="tab" href="#hmiscompleteness2016" role="tab" aria-controls="hmiscompleteness2016" aria-expanded="true">2016</a>
          <a class="nav-item nav-link" id="hmiscompleteness2017-tab" data-toggle="tab" href="#hmiscompleteness2017" role="tab" aria-controls="hmiscompleteness2017">2017</a>
        </nav>
        <div class="tab-content" id="nav-tabContent2">
          <div class="tab-pane fade" id="hmiscompleteness2015" role="tabpanel" aria-labelledby="hmiscompleteness2015-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9UjlzN0xCellIeFE&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade show active" id="hmiscompleteness2016" role="tabpanel" aria-labelledby="hmiscompleteness2016-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9TzEzSzhYcC03TnM&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade" id="hmiscompleteness2017" role="tabpanel" aria-labelledby="hmiscompleteness2017-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9V1k1U2NNdFN0Ylk&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
        </div>
      </div>
      <div class="container-fluid" *ngIf="linkValue =='PMTCT'">
        <nav class="nav nav-tabs" id="myTab3" role="tablist">
          <a class="nav-item nav-link" id="pmtct2015-tab" data-toggle="tab" href="#pmtct2015" role="tab" aria-controls="pmtct2015" aria-expanded="true">2015</a>
          <a class="nav-item nav-link active" id="pmtct2016-tab" data-toggle="tab" href="#pmtct2016" role="tab" aria-controls="pmtct2016" aria-expanded="true">2016</a>
          <a class="nav-item nav-link" id="pmtct2017-tab" data-toggle="tab" href="#pmtct2017" role="tab" aria-controls="pmtct2017">2017</a>
        </nav>
        <div class="tab-content" id="nav-tabContent3">
          <div class="tab-pane fade" id="pmtct2015" role="tabpanel" aria-labelledby="pmtct2015-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9X3BaM0dUT3dyRTA&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade show active" id="pmtct2016" role="tabpanel" aria-labelledby="pmtct2016-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9c0JSZl9aNjJUOEE&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade" id="pmtct2017" role="tabpanel" aria-labelledby="pmtct2017-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0BwBjVsZKVIY9VXhobU5yX0tVem8&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>

        </div>
      </div>
      <div class="container-fluid" *ngIf="linkValue =='MEDICINE'">
        <nav class="nav nav-tabs" id="myTab3" role="tablist">
          <a class="nav-item nav-link active" id="medicine2016-tab" data-toggle="tab" href="#medicine2016" role="tab" aria-controls="medicine2016" aria-expanded="true">2016</a>
          <a class="nav-item nav-link" id="medicine2017-tab" data-toggle="tab" href="#medicine2017" role="tab" aria-controls="medicine2017">2017</a>
        </nav>
        <div class="tab-content" id="nav-tabContent3">
          <div class="tab-pane fade show active" id="medicine2016" role="tabpanel" aria-labelledby="medicine2016-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=1wxVp4YAgC7_saI62VnFEeLJAQ3ODJntM&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade" id="medicine2017" role="tabpanel" aria-labelledby="medicine2017-tab">
            <iframe src="https://drive.google.com/embeddedfolderview?id=1jd3UT9n_eU2Qa3299a87pB6wtiDRJQKX&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>

        </div>
      </div>

      <div class="container-fluid" *ngIf="linkValue =='RATING'">
        <nav class="nav nav-tabs" id="myTab3" role="tablist">
          <a class="nav-item nav-link " id="rating2015-tab" data-toggle="tab" href="#rating2015" role="tab" aria-controls="rating2015" aria-expanded="true">2015</a>
          <a class="nav-item nav-link " id="rating2016-tab" data-toggle="tab" href="#rating2016" role="tab" aria-controls="rating2016" aria-expanded="true">2016</a>
          <a class="nav-item nav-link" id="rating2017-tab" data-toggle="tab" href="#rating2017" role="tab" aria-controls="rating2017" aria-expanded="true">2017</a>
          <a class="nav-item nav-link active" id="rating2018-tab" data-toggle="tab" href="#rating2018" role="tab" aria-controls="rating2018" aria-expanded="true">2018</a>
        </nav>
        <div class="tab-content" id="nav-tabContent3">
          <div class="tab-pane fade" id="rating2015" role="tabpanel" aria-labelledby="rating2015-tab">
            <!--<iframe src="https://drive.google.com/embeddedfolderview?id=1wxVp4YAgC7_saI62VnFEeLJAQ3ODJntM&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>-->
            <iframe src="https://drive.google.com/embeddedfolderview?id=1GTrjUlISFA3dm0zEn_TRa84MkeUaXxDY&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade " id="rating2016" role="tabpanel" aria-labelledby="rating2016-tab">
            <!--<iframe src="https://drive.google.com/embeddedfolderview?id=1wxVp4YAgC7_saI62VnFEeLJAQ3ODJntM&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>-->
            <iframe src="https://drive.google.com/embeddedfolderview?id=1LlC9S4g1y6qq-n_I23ynoay9_5l1lHMh&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade" id="rating2017" role="tabpanel" aria-labelledby="rating2017-tab">
            <!--<iframe src="https://drive.google.com/embeddedfolderview?id=1jd3UT9n_eU2Qa3299a87pB6wtiDRJQKX&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>-->
            <iframe src="https://drive.google.com/embeddedfolderview?id=1yY0zhOlm8nxOuAwWTHDAgh3r0611dJq5&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade show active" id="rating2018" role="tabpanel" aria-labelledby="rating2018-tab">
            <!--<iframe src="https://drive.google.com/embeddedfolderview?id=1jd3UT9n_eU2Qa3299a87pB6wtiDRJQKX&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>-->
            <iframe src="https://drive.google.com/embeddedfolderview?id=1IZE9GFNisQxMsOKGYPCnTrhNU-eM0OUA&usp=drive_web#grid" width="100%" height="800" frameborder="0"></iframe>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
