<div class="banner-container">
  <div class="left-banner">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Coat_of_arms_of_Tanzania.svg/251px-Coat_of_arms_of_Tanzania.svg.png">
  </div>
  <div class="title">
    <h2 class="text-center" style="font-weight: 900">TANZANIA NATIONAL HEALTH PORTAL</h2>
    <h4 class="text-center" style="font-weight: 600">MINISTRY OF HEALTH COMMUNITY DEVELOPMENT GENDER ELDERLY AND CHILDREN</h4>
  </div>
  <div class="right-banner">
    <img class="pull-right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Flag_of_Tanzania.svg/125px-Flag_of_Tanzania.svg.png">
  </div>
</div>
