.banner-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  padding-top: 10px;
  grid-gap: 15px;
  background: linear-gradient(0deg, white, #2a8fd1 90%) no-repeat;
  background-color: #2a8fd1;
  background: -moz-linear-gradient(top, rgba(68, 158, 218, 1) 0%, rgba(255, 255, 255, 0.86) 82%, rgba(255, 255, 255, 0.86) 83%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68, 158, 218, 1)), color-stop(82%, rgba(255, 255, 255, 0.86)), color-stop(83%, rgba(255, 255, 255, 0.86)));
  background: -webkit-linear-gradient(top, rgba(68, 158, 218, 1) 0%, rgba(255, 255, 255, 0.86) 82%, rgba(255, 255, 255, 0.86) 83%);
  background: -o-linear-gradient(top, rgba(68, 158, 218, 1) 0%, rgba(255, 255, 255, 0.86) 82%, rgba(255, 255, 255, 0.86) 83%);
  background: -ms-linear-gradient(top, rgba(68, 158, 218, 1) 0%, rgba(255, 255, 255, 0.86) 82%, rgba(255, 255, 255, 0.86) 83%);
  background: linear-gradient(to bottom, rgba(68, 158, 218, 1) 0%, rgba(255, 255, 255, 0.86) 82%, rgba(255, 255, 255, 0.86) 83%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0d2e3', endColorstr='#ffffff', GradientType=0);
}

.left-banner {
  padding-left: 5px;
}

.right-banner {
  padding-right: 5px;
}

.left-banner img {
  height: 140px;
  width: 140px !important;
  opacity: 0.9;
}

.right-banner img {
  height: 92px;
  height: 134px;
  width: 140px !important;
  border-radius: 5px;
  opacity: 0.9;
}
