
<!--<div class="row">-->
  <!--<iframe id="frame" src="https://hmisportal.moh.go.tz/hmisportalold/#/updates" data-src="https://hmisportal.moh.go.tz/hmisportalold/#/updates" width="100%" height="633px">-->
    <!--[Your user agent does not support frames or is currently configured not to display frames. However, you may visit the related document.]-->
  <!--</iframe>-->
<!--</div>-->
<h3 class="teal-text center">Portal Updates</h3>
<hr>
<div class="row">
  <div class="col-sm-12">
    <div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Implementation disaggregation of data by quarter</span>
        <p style="font-size: 15px">Data filters now has been updated to enable portal user to view data either yearly or quarterly.</p>
        <p><br><b>14th Dec 2015</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Implementation Raw Data Coverage menu</span>
        <p style="font-size: 15px">Raw Data Coverage menu enable portal user to view raw data of specific form either yearly or quarterly.</p>
        <p><br><b>7th Jan 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Updating of RCH&amp;HMIS Indicators</span>
        <p style="font-size: 15px">Web-portal user will be able to view the updated indicators </p>
        <p><br><b>7th Jan 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Updating of Downloads menu</span>
        <p style="font-size: 15px">Web-portal user will be able to view and download different books
          related to ministry of health </p>
        <p><br><b>5th Feb 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Adding spider chart as the visualizer analysis tool</span>
        <p style="font-size: 15px">Web-portal user will be able to switch in different mode of visualizations including spider web chart </p>
        <p><br><b>6th Feb 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Updating Combined Chart by Removing pie chart</span>
        <p style="font-size: 15px">This is simply because the chart appears big so was not possible to move it up without covering other charts </p>
        <p><br><b>6th Feb 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Adding name of Indicator to specific Card</span>
        <p style="font-size: 15px">This is to enable web portal users to know exactly what he/she is looking even if has forgotten what has clicked </p>
        <p><br><b>6th Feb 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Updating HIV/AIDS Program Indicators</span>
        <p style="font-size: 15px">Web-portal user will be able to view the updated Program indicators </p>
        <p><br><b>22th Feb 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Updating NON-COMMUNICABLE DISEASES Program Indicators</span>
        <p style="font-size: 15px">Web-portal user will be able to view the updated Program indicators </p>
        <p><br><b>23th Feb 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Updating RCH&amp;HMIS Indicators</span>
        <p style="font-size: 15px">Web-portal user will be able to view the updated RCH&amp;HMIS indicators </p>
        <p><br><b>24th Feb 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Updating and Implementing RCH&amp;HMIS Indicators Description</span>
        <p style="font-size: 15px">Web-portal user will be able to view the updated Descriptions of RCH&amp;HMIS indicators </p>
        <p><br><b>25th Feb 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Updating and Implementing Program Indicators Description</span>
        <p style="font-size: 15px">Web-portal user will be able to view the updated Descriptions of Program indicators </p>
        <p><br><b>26th Feb 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Implementing Hide and show of Parent organisation unit to Program indicators</span>
        <p style="font-size: 15px">Web-portal user will be able to switch parent organisation unit selected on or off</p>
        <p><br><b>27th Feb 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Implementing Hide and show of Parent organisation unit to RCH &amp;HMIS indicators</span>
        <p style="font-size: 15px">Web-portal user will be able to switch parent organisation unit selected on or off</p>
        <p><br><b>03th March 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Updating each card indicators description</span>
        <p style="font-size: 15px">Web-portal user will be able see description for each indicator</p>
        <p><br><b>03th March 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Adding Offline notification</span>
        <p style="font-size: 15px">Web-portal users will be able see notification whether there is network connection </p>
        <p><br><b>03th March 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Grouping of Raw data coverage</span>
        <p style="font-size: 15px">Web-portal users will be able see and browse raw data grouped in different groups like HMIS,NACP,NTLP and RCHs </p>
        <p><br><b>03th March 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Adding Zooming icon</span>
        <p style="font-size: 15px">Web-portal users will be able to zoom whether its graph or table using zooming icon placed to each indicator card</p>
        <p><br><b>03th March 2016</b></p><hr>
      </div>
      <div class="card-content white-text">
        <span class="lead" style="font-size:24px">Changing the way chart changes works</span>
        <p style="font-size: 15px">Web-portal users will be able to switch between various types of visualization on the right side icons</p>
        <p><br><b>10th Sept 2017</b></p><hr>
      </div>
    </div>
  </div>
</div>
