h2 {
  // color: rgba(87, 143, 205, 0.9);
  color: #2a8fd1;
  font-weight: 600 //color: rgba(0, 0, 0, 0.7);
}

.grid-items {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.borderdItem {
  border: 1px solid rgba(87, 143, 205, 0.3);
  border-radius: 5px;
}

.lead {
  font-size: 1.1rem !important;
  font-weight: 400;
}
