<div class="container-fluid pl-0 pr-0">
    <h2 [ngClass]="routeAnimationsElements">News & Event</h2>

    <mat-card class="mb-1 news" [ngClass]="routeAnimationsElements">
        <mat-card-header>

          <mat-card-title>Interactive visualization period change.</mat-card-title>
          <mat-card-subtitle>20<sup>th</sup> July 2017</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
             You can now change period for the data
             you want to view to the minimum period
             as per the data entry. The period is
             divided into frequencies...
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button>
            READ MORE
          </button>
        </mat-card-actions>
      </mat-card>

      <hr>
      <mat-card
      class="news "
      [ngClass]="routeAnimationsElements">
          <mat-card-header>
            <mat-card-title>Interactive data change</mat-card-title>
            <mat-card-subtitle>20<sup>th</sup> July 2017</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
                You can change indicator you want to
                visualize using the data filter in the
                local filter. .
            </p>
          </mat-card-content>
          <mat-card-actions>
          <button mat-stroked-button>
               READ MORE
            </button>
          </mat-card-actions>
        </mat-card>
</div>
