<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="text-secondary">Period</label>
        <select [(ngModel)]="selected_pe"  class="form-control form-control-sm filter-selector" (change)="updatePeriod(selected_pe)">
          <option *ngFor="let year of years$ | async" value="{{year.id}}" >{{year.name}} </option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="text-secondary">Organization Unit</label>
        <select  [(ngModel)]="selected_ou" class="form-control form-control-sm filter-selector" (change)="updateOrgunit(selected_ou)">
          <option *ngFor="let orgUnit of organisationUnits$ | async" value="{{orgUnit.id}}">{{orgUnit.name}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 mb-3" *ngFor="let indicator of indicators">
      <app-indicatordisplay [indicator]="indicator" [selected_ou_name]="selected_ou_name" [geoFeatures]="geoFeatures"></app-indicatordisplay>
    </div>
  </div>
</div>
