<style>
    .collapsible-body p {
        margin: 0;
        padding: 5px;
    }
</style>

<div class="row">
    <div class="z-depth-1 grey lighten-5" style="width:96.5%;position:fixed;top:70px;z-index:900;margin-left: 24px; margin-right: 0px">
        <div class="section grey lighten-5 " >
            <div class="col s2"><label>Period</label></div>
            <div class="col s5"><label>Geography</label></div>
            <div class="col s3"><label>Methods</label></div>
            <div class="col s2">&nbsp;</div>
            <div class="input-field col s2 grey lighten-5">
                <select class="" ng-model="selectedPeriod" material-select watch>
                    <option value="2015">Dec 2015</option>
                    <!--<option value="2015">2015</option>-->
                </select>
                <!--<label>Period</label>-->
            </div>
            <!--<div class="input-field col s1 grey lighten-5">-->
                <!--<select class="" ng-model="selectedMonth"  material-select watch >-->
                    <!--<option value="{{ months.iso }}" >{{ months.name }}</option>-->
                <!--</select>-->
                <!--<select class="" ng-model="selectedMonth" material-select watch>-->
                    <!--<option ng-repeat="months in currentMonthperiod" value="{{ months.uid }}">{{ months.name }}</option>-->
                <!--</select>-->
            <!--</div>-->
            <div class="input-field col s5 grey lighten-5">
                <multi-select-tree
                        data-input-model="data.orgUnitTree"
                        multi-select="true"
                        data-output-model="data.outOrganisationUnits"
                        data-default-label="Select Geography"
                        data-callback="selectOnly1Or2(item, selectedItems)">
                </multi-select-tree>
            </div>

            <div class="input-field col s3 grey lighten-5">
                <multi-select-tree
                        data-input-model="data.menuMethods"
                        multi-select="true"
                        data-output-model="data.outMethods"
                        data-default-label="Select Method"
                        data-callback="selectOnly1Or3(item, selectedItems)">
                </multi-select-tree>
            </div>

            <div class="col s2 btn waves-effect waves-light" style="margin-top: 20px" ng-click="firstClick()">Update</div>
        </div>
    </div>
</div>


<div class="row" >
    <div ng-include="'views/family_planning/fp_menu.html'"></div>

    <div class="col s12 m12 l10" style="margin-top: 82px">
        <div class="section">
            <div class="{{ fpCards[0].cardClass }}" style="padding-left: 0px">
                <div portal-card="" dataobject='fpCards[0]'></div>
            </div>
        </div>
    </div>
</div>