<style>
    .collapsible-body p {
        margin: 0;
        padding: 5px;
    }
</style>

<div class="row">
    <div ng-include="'views/family_planning/fp_filters.html'"></div>
</div>

<div class="row" >
    <div ng-include="'views/family_planning/fp_menu.html'"></div>

    <div class="col s12 m12 l10" style="margin-top: 82px">
        <div class="section">
            <!--Client Through Routine Facility-Based service-->
            <div class="col s12 m12" style="padding-left: 0px">
                <div portal-card="" dataobject='StockOutObject'></div>
            </div>

        </div>
    </div>
</div>